<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475089189677-ttlnpm51l690ebm7vi4edab17p20drh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475089189677-ttlnpm51l690ebm7vi4edab17p20drh6</string>
	<key>API_KEY</key>
	<string>AIzaSyBzMnm2jIbucZKIVtqX6hU_1bdnVhl0Yrw</string>
	<key>GCM_SENDER_ID</key>
	<string>475089189677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hola</string>
	<key>PROJECT_ID</key>
	<string>holaa-5a15d</string>
	<key>STORAGE_BUCKET</key>
	<string>holaa-5a15d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475089189677:ios:3156b742e35eefef8471a4</string>
</dict>
</plist>